/*======== variable css ========*/
:root{
    --header-height: 3rem;

    /*======= colors =======*/
    --title-color: #0b0a0a;
    --text-color: #3a3a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;
    --body-font: sans-serif;

    /*========= Font and typography =========*/
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========= font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*======== Margenes =========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;    

    /*=========== z index ============*/
    --tooltip: 10;
    --z-fixed: 100;
}
    /*======= base ========*/
*,::before, ::after{
        box-sizing: border-box;
}   

html{
        scroll-behavior: smooth;
}

/*========== dark mode ===========*/
body.dark-theme{
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
    --body-font: sans-serif;
}

.change-theme{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
}

.change-theme:hover{
    color: var(--title-color);
}

    /*========== generate pdf ===========*/

.generate-pdf{
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover{
    color: var(--title-color);
}

/*========== font size cv ===========*/

.scale-cv > .change-theme,
    .scale-cv > .generate-pdf{
        display: none;
    }

    .scale-cv, .bd-container{
        max-width: 1000px;
        margin: 5px auto;
    }

    .scale-cv, .section{
        padding: 1.5rem 0 .80rem;
    }

    .scale-cv, .section-title{
        margin-bottom: .75rem;
    }

.scale-cv, .resume_left,
.scale-cv, .resume_right{
    padding: 0 1rem;
}

.scale-cv > .home_img{
    width: 90px;
    height: 90px;
}
 
.scale-cv .home_container{
    gap: 1.5rem;
}

.scale-cv, .home_data{
    gap: .25rem;
}

.scale-cv .home_address,
.scale-cv .social_container{
    gap: .75rem;
}

.scale-cv .home-icon,
.scale-cv .social-icon,
.scale-cv .interests-icon{
    font-size: 1rem;
}

.scale-cv .education_container,
.scale-cv .exprience_container,
.scale-cv .certificate_container{
  gap: 1rem;
}

.scale-cv .education_time,
.scale-cv .experience_time{
   padding-right: 5rem;
}

.scale-cv .education_rounder,
.scale-cv .experience_rounder{
    width: 11px;
    height: 11px;
    margin-top: .22rem;
}

.scale-cv .education_line,
.scale-cv .experience_line{
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}

.scale-cv .education_data,
.scale-cv .experience_data{
    gap: .25rem;
}

.scale-cv .skills_name{
    margin-bottom: var(--mb-1);
}

.scale-cv .interests_container{
    column-gap: 2.5rem;
}




body.scale-cv{
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}

    /*========== classes modified to reduce size and print on A4 sheet ===========*/
  

    body{
        margin: 0 0 var(--header-height) 0;
        padding: 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--body-color);
        color: var(--text-color);
    }

h1,h2,h3,ul,p{
        margin: 0;
    }
h1,h2,h3{
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*======== class CSS ========*/
.section{
    padding: 1.5rem 0;
}

.section-title{
    font-weight: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

/*=========== Layout ============*/
.bd_container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: .3s;
}

/*======= nav =========*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media screen and (max-width: 968px){
    .nav_menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: .3s;
    }
}

.nav_logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin: 5px;
}

.nav_logo{
    margin: 10px;
}

.nav_toggle{
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-item {
    text-align: center;
}

.nav-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--title-color);
}

.nav-icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/*======== Show menu ==========*/
.show-menu{
    bottom: var(--header-height);
}

.active-link{
    color: var(--title-color);
}

/*========= Home ===========*/
.home{
    position: relative;
}

.home_container{
    gap: 3rem;
}

.home_data{
    gap: .5rem;
    text-align: center;

}

.home_img{
    width: 150px;
    height: auto;
    border-radius: 30px;
    justify-self: center;
    margin-bottom: var(--mb-1);
    box-shadow: 1px 1px 10px rgba(13,12,12,.15);
    transition: all .5s ease;
}

.home_img:hover{
    box-shadow: 3px 3px 10px rgba(13, 12, 12, 0.856);
    transform: scale(1.1);
}

.home_title{
    font-size: var(--h1-font-size);
}

.home_profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home_address{
    gap: 1rem;
}

.home_information{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    margin-left: 5%;
}

.home-icon{
     font-size: 1.2rem;
     margin-right: .25rem;
}

.home_button-movil{
    display: inline-block;
    border: 2px solid var(--text-color);
    padding: 1rem 2rem;
    color: var(--title-color);
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}

.home_button-movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}

/*========= social ===========*/

.social_container{
    grid-template-columns: max-content;
    gap: 1rem;
}

.social_link{
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-left: 10%;
}

.social_link:hover{
    color: var(--title-color);
}

.social-icon{
    font-size: 1.2rem;
    margin-right: .25rem;
}

/*========= profile ===========*/
.profile_discription{
    text-align: center;
    padding: 8px;
    letter-spacing: 1px;
}

/*========= education ===========*/
.education_container,
.experience_content{
    margin-left: 5%;
}
.education_content,
.experience_content{
    display: flex;
}

.education_time,
.experience_time{
    padding-right: 1rem;
}

.education_rounder,
.experience_rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: .25rem;
}

.education_line,
.experience_line{
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education_data,
.experience_data{
    gap: .5rem;
}

.education_title,
.experience_title{
    font-size: var(--h2-font-size);
    font-weight: bold;
}

.education_studies,
.experience_company{
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.education_year,
.experience_disciption{
    font-size: var(--small-font-size);
    font-weight: bold;
}

/*========= Skills and certificate ===========*/

.skills_content,
.languages_content{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20%;
}

.skills_content,
.languages_content{
    gap: 0;
}

.skills_name,
.languages_name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
    font-weight: bold;
}

.skills_circle,
.languages_circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .25rem;
}

/*========= certificate ===========*/
.certificate_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
    font-weight: bold;
}

.certificate_content{
    margin-left: var(--mb-2);
}

.certificate_discription{
    font-size: var(--small-font-size);
    font-weight: bold;
    margin-top: var(--mb-3);
}

/*========= references ===========*/

.references_content{
    margin-left: var(--mb-3);
    gap: .25rem;
}

.references_subtitle{
    color: var(--text-color-light);
}

.references_content,
.references_contact{
    font-size: var(--h3-font-size);
    font-weight: bold;
    margin-top: .5rem;
}

.references_title{
    font-size: var(--h2-font-size);
    font-weight: bold;
}

/*========= Interests ===========*/

.interests_container{
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests-icon{
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}

.interests_name{
    text-align: center;
    font-weight: bold;
}

/*========= scroll top ===========*/

.scrolltop{
     position: fixed;
     right: 1rem;
     bottom: -20%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: .3rem;
     background-color: var(--container-color-alt);
     border-radius: 50%;
     z-index: var(--z-tooltip);
     transition: all .4s ease;
     visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 4rem;
}

/*========= media query ===========*/

/*========= small screen size ===========*/
@media screen and (max-width: 320px){
    .nav_list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
    }
}

/*========= large screen size ===========*/
@media screen and (min-width: 968px){
    body{
        margin: 3rem 0;
    }

    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrolltop{
        display: none;
    }
    .resume{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13,12,12,.15);
    }

    .resume_left{
        background-color: var(--container-color-alt);
    }

    .resume_left,
    .resume_right{
        padding: 0 1.5rem;
    }

    .section-title,
    .profile_discription{
        text-align: center;
        /* margin: 2%; */
    }
    .home_container{
        gap: 1.5rem;
    }

    .home_button-movil{
        display: none;
    }

    .references_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .languages_content{
        column-gap: 3.5rem;
    }

    .interests_container{
        grid-template-columns: repeat(5, max-content);
        column-gap: 3.5rem; 
        margin-left: 8%;
    }

    .generate-pdf{
        display: inline-block;
    }
    
    

}








